<% unless comment.new_record? %>
	<li id=<%= "comment-#{comment.id}" %>>
		<div class="clearfix">
			<strong class="left"><%= link_to comment.user.username, user_path(comment.user) %></strong>
			<% if current_user == comment.user %>
				<div class="right">
					<%= link_to fa_icon("pencil"), "javascript:void(0)", class: "comment-#{comment.id}-edit" %>
					<%= link_to fa_icon("times"), [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
				</div>
			<% end %>
		</div>
		<div class=<%= "comment-#{comment.id}-content" %>>
			<%= best_in_place_if current_user == comment.user, comment, :content,
				url: [comment.post, comment],
				as: :textarea, inner_class: "radius",
				ok_button: 'Save', ok_button_class: "button success radius",
				use_confirm: false,
				display_with: :simple_format,
				activator: ".comment-#{comment.id}-edit" %>
		</div>
		<small><i><%= time_ago_in_words comment.created_at %> ago</i></small>
	</li>
	<hr />
<% end %>
