<% unless comment.new_record? %>
	<li>
		<div class="clearfix">
			<strong class="left"><%= link_to comment.user.username, user_path(comment.user) %></strong>
			<% if current_user == comment.user %>
				<div class="right">
						<%= fa_icon "pencil"  %>
						<%= fa_icon "times" %>
				</div>
			<% end %>
		</div>
		<div class="comment-content"><%= comment.content %></div>
		<small><i><%= time_ago_in_words comment.created_at %> ago</i></small>
	</li>
	<hr />
<% end %>
