<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
	<% @posts.each do |post| %>
		<li>	
			<div class="panel">
				<%= link_to post_path(post) do %>
					<h6 class="text-center"><strong><%= truncate post.title, length: 40 %></strong></h6>
				<% end %>
				<small class="author">Posted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to post.user.username, user_path(post.user) %></small>
				<%= link_to post_path(post) do %>
					<%= image_tag post.image.url(:medium) %>
				<% end %>
				<div class="rating">
					<%= display_rating(post) %>
				</div>
			</div>
		</li>
	<% end %>
</ul>

   
