<p id="notice"><%= notice %></p>

<div class="title">
	<strong>Title:</strong>
	<%= @post.title %>
</div>

<div class="image-container">
	<%= tag :img, id: "resolution_level", style: "display: none", data: { resolution_level: @post.resolution_level } %>
	<% for level in 0..@post.resolution_level do %>
		<%= content_tag :canvas, " ", id: "level#{level}", display: "none", width: 512, height: 512, data: { pixel_matrix: @post.pixel_matrices[level] } %>
	<% end %>
	<%= content_tag :canvas, " ", id: "mainCanvas", width: 512, height: 512, data: { pixel_matrix: @post.pixel_matrices[0] } %>
	<%= image_tag @post.image.url(:medium) %>
</div>
<%= link_to 'Back', posts_path %>
