<div class="row">
	<div class="medium-8 columns">
		<h4><strong><%= @post.title %></strong></h4>
		<div class="text-center canvas-container panel">
			<%= content_tag :canvas, " ", id: "main-canvas", width: 512, height: 512, data: { pixel_matrices: @post.pixel_matrices, resolution_level: @post.resolution_level } %>
		</div>
		<hr />
		<div class="comments">
			<h1>This is a place holder for comments section</h1>
		</div>
	</div>
	<div class="medium-4 columns">
		<div class="row collapse">
			<div class="medium-3 columns"><%= image_tag "avatar_male.png", size: "100x100" %></div>
			<div class="medium-9 columns">
				<div class="byline">
					<div>by <%= link_to @post.user.username, user_path(@post.user) %></div>
					<small><i>posted on <%= @post.created_at.strftime "%b %d, %y" %></i></small>
				</div>
			</div>
		</div>
		<hr />
		<div class="info">
			<div class="row collapse">
				<div class="medium-6 columns">
					<%= display_rating @post %>
				</div>
				<div class="medium-6 columns">
					<% if user_signed_in? %>
						<div class="text-right">
							<%= get_user_vote_action @post %>
						</div>
					<% end %>
				</div>
			</div>
			<hr />
			<div class="row collapse text-center">
				<div class="medium-6 columns">
					<%= link_to fa_icon("angle-double-left", text: "Prev"), @post.previous_post, class: "button success radius" %>
				</div>
				<div class="medium-6 columns">
					<%= link_to raw("Next #{fa_icon("angle-double-right")}"), @post.next_post, class: "button success radius" %>
				</div>
			</div>
		</div>
	</div>
</div>
